.presentation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.presentation--name{
    font-family: Roboto-Bold;
    font-size: 39px;
}

.presentation {
    animation-duration: 2s;
    animation-name: fadeIn;
}


.presentation--txt {
    transform: translateX(-50%);
    animation: slideIn 1s forwards;
}

.presentation--img {
    transform: translateX(50%);
    animation: slideIn 1s forwards;
}

.hero-pink-gradient {
    position: absolute;
    left: -17%;
    top: -7%;
    right: auto;
    bottom: auto;
    width: 600px;
    height: 600px;
    border-radius: 100%;
    background-color: rgba(255, 207, 253, 0.5);
    -webkit-filter: blur(180px);
    filter: blur(180px);
    z-index: -100;
}

.hero-green-gradient {
    position: absolute;
    left: auto;
    top: 0%;
    right: 13%;
    bottom: auto;
    width: 700px;
    height: 700px;
    border-radius: 100%;
    background-image: linear-gradient(1820deg, #dbf8ff 3%, rgba(240, 236, 206, 0));
    -webkit-filter: blur(100px);
    filter: blur(100px);
    z-index: -100;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideIn{
    to {
        transform: translateX(0%);
    }
}
