@font-face {
    font-family: 'Roboto';
    src:local('Roboto'),url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: 'Roboto-Bold';
    src:local('Roboto'),url("../fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
    font-family: 'Noto';
    src:local('Noto'),url("../fonts/Noto_Sans/NotoSans-Regular.ttf");
}

@font-face {
    font-family: 'Noto-Bold';
    src:local('Noto-Bold'),url("../fonts/Noto_Sans/NotoSans-Bold.ttf");
}